.mandatory-required{
    color:red;
}
#reset_variant{
    border-color: #DD7E43;
    color: #DD7E43;
    font-size: 1.125rem;
    padding: 8px 30px;
}
.js_reset_variant{
    border-color: #DD7E43;
    color: #DD7E43;
    font-size: 0.75rem;
    padding: 2px 20px;
    margin: 10px 0px;
}